
<!DOCTYPE html>



<html>

<body>

	<table style="width: 100%; border: 1px solid #ddd">

		<tbody>

			<tr>

				<td>

					<table style="width: 100%; background: #ddd">

						<tbody>

							<tr>

								<td style="padding: 10px"><img

									src="-----------------------------------">

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>



			<tr>

				<td style="padding: 10px;">

					<table style="width: 100%;">

						<tbody>

							<tr>

								<td style="color: #333; font-size: 13px; padding: 6px 10px;">

<!--									<img width="48" height="48" th:src="${oldSupervisorImage}"

									style="float: left; border: 1px solid #ddd;" alt="user" />-->

									<table>

										<tbody>

											<tr>

												<td style="padding: 20px 0 10px 0;"><strong

													style="font-weight: 800;"> Hi <strong><span th:text="${oname}"/></strong> Aryan,

												</strong></td>

											</tr>

											<tr>

												<td>

													My name is <span th:text="${userName}"/>, and I am your Key Account Manager at Corpseed Ites Private 
													Limited, specializing in Regulatory, Statutory, Environmental/ESG/EPR, Occupational 
													Health and Safety, Import-Export, Factory, Labor, and Product quality compliance. I am 
													reaching out to introduce myself as your primary point of contact for all compliance-related 
													matters. 
													My role is to ensure that your business remains compliant with the latest regulations and 
													standards in these critical areas, I will be working closely with you to help navigate any 
													challenges and provide tailored solutions to meet your compliance needs across multiple 
													domains, including:  
													∙Regulatory and Statutory Compliance: Ensuring adherence to legal and industry 
													regulations. 
													∙Environmental Compliance: Assisting with sustainability, extended producer 
													responsibilities and environmental standards and any compliance related to state pollution 
													control board/Central pollution control board and ministry of environment and forest.  
													∙Occupational Health and Safety (OHS): Promoting workplace safety and health 
													compliance and audits. 
													∙Quality Management: Maintaining high-quality standards across operations and dealing 
													with BIS/ISI/LMPC/CDSCO/ISO/FSSAI etc quality certification requirements. 
													∙Import-Export Compliance: Guiding through customs regulations and international 
													trade standards. 
													∙Factory and Labor Compliance: Ensuring compliance with labor laws and factory 
													standards. 
													I am here to assist you in achieving compliance excellence and ensuring that your organization 
													processes are align with the latest governmental standards. Please don’t hesitate to contact me 
													with any questions or concerns, whether they’re related to current projects or potential 
													compliance requirements. 
													I would also love to set up a meeting to better understand your needs and discuss how we can 
													 
													support your business in staying compliant and efficient in all these areas. 
													We offer more than 500+ Compliance/ Certification/ NOC’s/ Permits/ Registration/ 
													Licenses/ Setup etc solutions across India and serving compliance requirements for more 
													than 57+  industries (Agriculture & Allied Sector, Automobile & Auto component, Aviation, 
													Ayurveda, Bio-technology, Capital Goods, Chemicals, Construction, Defence Manufacturing, 
													Electrical & Electronics, Food processing, Healthcare, Leather & Foot wear, Media, Medical 
													Devices, Metals & Mining, Oil & Gas, Paper & Packaging, Pharmaceuticals & Drugs, Renewal 
													Energy, Road & Highways, Space, Sustainability, Telecom, Textile & Apparel, Thermal Energy, 
													Waste management & Recycling, Drone, Semi-conductors, Bio-fuels etc.). 
											</tr>										

																					

											<tr>

												Thank you for your trust in Corpseed Ites Private Limited. I look forward to working closely 
												with you. 
												Best regards 

				                           </tr>

										</tbody>

									</table>

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td style="padding: 0 25px">Thanks</td>

			</tr>

			<tr>

				<td style="padding: 0 25px 20px 25px">Corpseed Team IT </td>

			</tr>



			<tr>

				<td

					style="background: #ddd; border-top: 5px solid #0099cc; padding: 15px 0; text-align: center">

					 <p>Copyright 2009-2023<span th:text="${#dates.format(currentDate, 'yyyy')}"/> Corpseed pvt . All rights reserved.</p></td>

			</tr>

		</tbody>

	</table>

</body>

</html>