<!DOCTYPE html>



<html>

<body>

	<table style="width: 100%; border: 1px solid #ddd">

		<tbody>

			<tr>

				<td>

					<table style="width: 100%; background: #ddd">

						<tbody>

							<tr>

								<td style="padding: 10px"><img

									src="-----------------------------------">

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>



			<tr>

				<td style="padding: 10px;">

					<table style="width: 100%;">

						<tbody>

							<tr>

								<td style="color: #333; font-size: 13px; padding: 6px 10px;">

<!--									<img width="48" height="48" th:src="${oldSupervisorImage}"

									style="float: left; border: 1px solid #ddd;" alt="user" />-->

									<table>

										<tbody>

											<tr>

												<td style="padding: 20px 0 10px 0;"><strong

													style="font-weight: 800;"> Hi <strong><span th:text="${user}"/></strong> ,

												</strong></td>

											</tr>
											<tr>

												<td style="padding: 20px 0 10px 0;">
													I hope this message finds you well.
												</td>

											</tr>
											

											<tr>

												<td>

													<!--Your task is pending .please go and assign another person-->

This is a friendly reminder regarding the pending task titled <strong><span th:text="${taskName}"/></strong> of lead id <strong><span th:text="${leadId}"/></strong> assigned to you.<br>
 The deadline for completion is <strong><span th:text="${ecpectedDate}"/></strong>.
	  As of now, the task<br> remains incomplete.

We kindly request you to prioritize and complete this task at your earliest convenience. Your prompt attention to<br> this matter is crucial for the overall progress of the project.<br>

If you have already completed the task, please disregard this message.<br> 
Otherwise, please log in to the system and update the task status accordingly.

													
													 </td>

											</tr>										


										</tbody>

									</table>

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td style="padding: 0 25px">Thanks</td>

			</tr>

			<tr>

				<td style="padding: 0 25px 20px 25px">Corpseed Team IT </td>

			</tr>



			<tr>

				<td

					style="background: #ddd; border-top: 5px solid #0099cc; padding: 15px 0; text-align: center">

					 <p>Copyright 2009-2023<span th:text="${#dates.format(currentDate, 'yyyy')}"/> Corpseed pvt . All rights reserved.</p></td>

			</tr>

		</tbody>

	</table>

</body>

</html>