
<!DOCTYPE html>



<html>

<body>

	<table style="width: 100%; border: 1px solid #ddd">

		<tbody>

			<tr>

				<td>

					<table style="width: 100%; background: #ddd">

						<tbody>

							<tr>

								<td style="padding: 10px"><img

									src="https://ci6.googleusercontent.com/proxy/aN3uAFoh3jAtqYYXzFGj-ZrsPbKUvjruIlNKpWAG6C-IT0-at_EF7tJYbeBr3P444FSNMe1cq4RtlST1cOEr=s0-d-e1-ft#https://www.corpseed.com/assets/img/logo.png">

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>



			<tr>

				<td style="padding: 10px;">

					<table style="width: 100%;">

						<tbody>

							<tr>

								<td style="color: #333; font-size: 13px; padding: 6px 10px;">

<!--									<img width="48" height="48" th:src="${oldSupervisorImage}"

									style="float: left; border: 1px solid #ddd;" alt="user" />-->

									<table>

										<tbody>

											<tr>

												<td style="padding: 20px 0 10px 0;"><strong

													style="font-weight: 800;"> Hello Ajay  <strong><span th:text="${oname}"/></strong> ,

												</strong></td>

											</tr>

											<tr>
												<p><b style="font-weight: 800">Hello Ajay,</b></p>
<p>I hope you are well.</p><br>

<p>I just wanted to drop you a quick note to remind you that amount of INR 14320.0 in respect of our invoice UNBL05889 is due for payment on 06-11-2023.</p><br>

<p>I would be really grateful if you could confirm that everything is on track for payment.</p>
<p>View your invoice Invoice link</p><br>
<p>If you have already paid, please accept our apologies and kindly ignore this payment reminder.</p>
<p>Online Payment link : https://www.corpseed.com/payment</p><br>
<p>Company’s Bank Details</p>
<p>Payment should be made through IMPS / NEFT / RTGS</p>
<p>Account Number: 10052624515</p>
<p>IFSC Code: IDFB0021331</p>
<p>Beneficiary Name: Corpseed ITES Private Limited</p>
<p>Bank Name: IDFC First Bank</p>
<p>Best regards,</p>
<p>Collection Team,</p>
<p>Corpseed Ites Private Limited</p>											</tr>										


																					

											<tr>

				                            	  <span style="float:left;width:100%;"> 

				                            	     <a th:href="${Rurl}" style="display: inline-block; border-radius: 2px; padding: 4px 8px; background-color: #5cb85c;border-color: #4cae4c; text-decoration: none; float: left; font-size: 13px; color: #fff; margin: 10px 0;">

					                                      create password

					                                   </a>

				                             

				                                   </span>

				                                   

				                           </tr>

										</tbody>

									</table>

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td style="padding: 0 25px">Thanks</td>

			</tr>

			<tr>

				<td style="padding: 0 25px 20px 25px">Corpseed Team IT </td>

			</tr>



			<tr>

				<td

					style="background: #ddd; border-top: 5px solid #0099cc; padding: 15px 0; text-align: center">

					 <p>Copyright 2009-2023<span th:text="${#dates.format(currentDate, 'yyyy')}"/> Corpseed pvt . All rights reserved.</p></td>

			</tr>

		</tbody>

	</table>

</body>

</html>